/* colors
#F8ECD1
#DEB6AB
#AC7D88
#85586F */

body {
    background-color: #fdf9ef;
    font-family: 'Inconsolata', monospace;
}
html {
    box-sizing: border-box;
    font-size: 50%;
}

#my-timer{
    text-align: center;
}

h1{
    margin-top: 6rem;
    font-size: 5rem;
    color: #AC7D88;
}

.dial {
    height: 45rem;
    width: 45rem;
    z-index: 5;
}

.timer {
    margin:5% 5% 0 5%;
    position: relative;
    display: inline-block; 
}

.icon {
    font: normal normal normal 3rem/1 FontAwesome;
    color: #85586F;
}

.timer input {
    display: block;
    border: none;
    width: 15rem;
    font-size: 8rem;
    text-align: center;
    margin-top: 3rem;
    background-color: #fdf9ef;
}

.timer button {
    border: none;   
    cursor: pointer;
    background-color: #fdf9ef;
}

.timer button:focus {
    outline: none;
}

.timer input:focus {
    outline: none;
}

.controls {
    position: absolute;
    top: -5rem;
    left: -2rem;
    right: 0;
    bottom: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: repeat(2, min-content);
    align-content: center;
    justify-content: center;
}

/* @media only screen and (max-width: 550px){
    .controls {
        top: -5rem;
        left: -2rem;
    }
} */
