/* colors
#F8ECD1
#DEB6AB
#AC7D88
#85586F */

body {
    background-color: #F8ECD1;
    font-family: 'Inconsolata', monospace;
}

#my-timer{
    text-align: center;
}

h1{
    font-size: 5rem;
    color: #AC7D88;
}

.dial {
    height: 400px;
    width: 400px;
}

.timer {
    margin:5% 5% 0 5%;
    position: relative;
    display: inline-block; 
}

.icon {
    font: normal normal normal 3rem/1 FontAwesome;
    color: #85586F;
}

.timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
    background-color: #F8ECD1;
}

.timer button {
    border: none;   
    cursor: pointer;
    background-color: #F8ECD1;
}

.timer button:focus {
    outline: none;
}

.timer input:focus {
    outline: none;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}